{% extends 'SlivaJob/base.html' %}

{% block title %}
    Главная страница
{% endblock %}

{% block content %}
    <div class="max-w-6xl my-8 w-full mx-auto bg-white py-4 px-8 rounded-md shadow-md">
        <p>
            Даже плохой программный код может работать. Однако если код не является «чистым», это всегда будет мешать
            развитию проекта и компании-разработчика, отнимая значительные ресурсы на его поддержку и «укрощение». Эта
            книга
            посвящена хорошему программированию. Она полна реальных примеров кода. Мы будем рассматривать код с
            различных
            направлений: сверху вниз, снизу вверх и даже изнутри. Прочитав книгу, вы узнаете много нового о коде. Более
            того, вы научитесь отличать хороший код от плохого. Вы узнаете, как писать хороший код и как преобразовать
            плохой код в хороший. Книга состоит из трех частей. В первой части излагаются принципы, паттерны и приемы
            написания чистого кода; приводится большой объем примеров кода. Вторая часть состоит из практических
            сценариев
            нарастающей сложности. Каждый сценарий представляет собой упражнение по чистке кода или преобразованию
            проблемного кода в код с меньшим количеством проблем. Третья часть книги – концентрированное выражение ее
            сути.
            Она состоит из одной главы с перечнем эвристических правил и «запахов кода», собранных во время анализа. Эта
            часть представляет собой базу знаний, описывающую наш путь мышления в процессе чтения, написания и чистки
            кода.
            Как известно любому домовладельцу, такая забота и непрерывное стремление к улучшению никогда не приходят к
            концу. Архитектор Кристофер Александр — отец паттернов и языка паттернов — рассматривает каждый акт
            проектирования как маленький, локальный акт восстановления. С его точки зрения мастерство тонкой структуры
            является единственным содержанием архитектуры; более крупные формы можно оставить на долю паттернов, а их
            применение — на долю жильцов. Проектирование продолжается не только с пристройкой к дому новых комнат, но и
            с покраской, заменой старых ковров или кухонной раковины. Аналогичные принципы действуют во многих видах
            искусства. В поисках других мастеров, считавших, что Бог живет в мелочах, мы оказываемся в славной компании
            французского писателя XIX века Гюстава Флобера. Французский поэт Поль Валери говорит о том, что
            стихотворение никогда не бывает законченным, что оно требует постоянной переработки, а прекратить работу над
            ним — значит бросить его. Такое повышенное внимание к мелочам характерно для всех настоящих творцов.
            Возможно, принципиального нового здесь не так уж много, но эта книга напомнит вам о необходимости следовать
            житейским правилам, которые вы давно забросили из безразличия или стремления к стихийности, к простой
            «реакции на изменения».

            К сожалению, описанные аспекты редко рассматриваются как краеугольные камни искусства программирования. Мы
            рано бросаем свой код — и не потому, что он идеален, а потому, что наша система ценностей сосредоточена на
            внешнем виде, а не на внутренней сущности того, что мы делаем. Невнимательность в конечном итоге обходится
            недешево: фальшивая монета всегда возвращается к своему владельцу. Исследования — ни отраслевые, ни
            академические — не желают опускаться до скромной области поддержания чистоты кода. В те времена, когда я
            работал в Исследовательской организации по производству программного обеспечения Bell Labs, в ходе
            исследований выяснилось, что последовательный стиль применения отступов является одним из самых
            статистически значимых признаков низкой плотности ошибок. Мы хотим, чтобы причиной качества была
            архитектура, язык программирования или что-то другое, столь же почтенное. Нас как людей, чей предполагаемый
            профессионализм обусловлен мастерским владением инструментами и методами проектирования, оскорбляет сама
            идея, что простое последовательное применение отступов может иметь такую ценность. Цитируя свою собственную
            книгу 17-летней давности, скажу, что такой стиль отличает совершенство от простой компетентности. Японское
            мировоззрение сознает критическую важность каждого рядового рабочего, и что еще важнее — систем разработки,
            существующих благодаря простым повседневным действиям этих рабочих. Качество возникает в результате миллиона
            проявлений небезразличного отношения к делу, — а не от применения какого-то великого метода, спустившегося с
            небес. Простота этих проявлений не означает их примитивности и даже не свидетельствует об их легкости. Тем
            не менее из них возникает величие и, более того, — красота любого человеческого начинания. Забыть о них
            значит не быть человеком в полной мере.

            Конечно, я по-прежнему выступаю за широту мышления и особенно за ценность архитектурных подходов, корни
            которых уходят в глубокое знание предметной области и удобство использования программных продуктов. Книга
            написана не об этом, или, по крайней мере, в ней эта тема не рассматривается напрямую. Она несет более
            тонкий посыл, глубину которого не стоит недооценивать. Она соответствует текущим мировоззрениям настоящих
            программистов — таких, как Питер Соммерлад (Peter Sommerlad), Кевлин Хенни (Kevlin Henney) и Джованни
            Аспрони (Giovanni Asproni). «Код есть архитектура» и «простой код» — так звучат их мантры. Хотя мы не должны
            забывать, что интерфейс и есть программа и что его структурные элементы несут много информации о структуре
            программы, очень важно помнить, что архитектура живет в коде. И если пераработка в производственной метафоре
            ведет к затратам, переработка в архитектурной метафоре ведет к повышению ценности. Рассматривайте свой код
            как красивое воплощение благородных усилий по проектированию — как процесса, а не как статической конечной
            точки. Архитектурные метрики привязки и связности проявляются именно в коде. Если вы послушаете, как Ларри
            Константайн (Larry Constantine) описывает привязку и связность, он говорит о них в контексте кода, а не
            величественных абстрактных концепций, которые обычно встречаются в UML. Ричард Гэбриел (Richard Gabriel) в
            своем эссе «Abstraction Descant» утверждает, что абстракция — зло. Так вот, код — это антизло, а чистый код,
            вероятно, имеет божественную природу.
        </p>
    </div>
{% endblock %}