{% extends 'SlivaJob/base.html' %}

{% block title %}
    Тесты
{% endblock %}

{% block content %}
    <div class="w-8/12 mx-auto py-10 overflow-hidden rounded-bl-2xl self-end">
        <h1 class="font-bold text-3xl mb-3 ml-4">
            Тесты
        </h1>
        <div class="overflow-x-auto shadow-md sm:rounded-lg inline-block min-w-full align-middle">
            <div class="overflow-hidden ">
                <table class="min-w-full divide-y table-fixed divide-gray-700">
                    <thead class="bg-gray-700">
                    <tr>
                        <th scope="col"
                            class="py-3 px-6 text-lg font-bold tracking-wider text-left text-gray-400">
                            Название заказа
                        </th>
                        <th scope="col"
                            class="py-3 px-6 text-lg font-bold tracking-wider text-left text-gray-400">
                            Максимальный балл
                        </th>
                        <th scope="col"
                            class="py-3 px-6 text-lg font-bold tracking-wider text-left text-gray-400">
                            Статус заказа
                        </th>
                    </tr>
                    </thead>
                    <tbody class="divide-y bg-gray-800 divide-gray-700">
                    {% for order in ordersList %}
                        <tr class="hover:bg-gray-700 hover:cursor-pointer"
                            onclick='location.href="../order/{{ order.pk }}"'>
                            {% if order.status == 0 %}
                                <td class="w-4/6 py-4 px-6 text-base font-medium whitespace-nowrap text-white">{{ order.order_name }}</td>
                                <td class="w-2/6 py-4 px-6 text-base font-medium whitespace-nowrap text-white">{{ order.score }}</td>
                                <td class="w-2/6 py-4 px-6 text-base font-medium whitespace-nowrap text-green-500"> Активный </td>
                            {% elif order.status == 1 %}
                                <td class="w-4/6 py-4 px-6 text-base font-medium whitespace-nowrap text-white">{{ order.order_name }}</td>
                                <td class="w-2/6 py-4 px-6 text-base font-medium whitespace-nowrap text-white">{{ order.score }}</td>
                                <td class="w-2/6 py-4 px-6 text-base font-medium whitespace-nowrap text-orange-500"> Выполняется </td>
                            {% elif order.status == 2 %}
                                <td class="w-4/6 py-4 px-6 text-base font-medium whitespace-nowrap text-white">{{ order.order_name }}</td>
                                <td class="w-2/6 py-4 px-6 text-base font-medium whitespace-nowrap text-white">{{ order.score }}</td>
                                <td class="w-2/6 py-4 px-6 text-base font-medium whitespace-nowrap text-zinc-500"> Завершён </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}