{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
</head>

<body class="bg-gray-50 font-mono leading-normal tracking-normal">
<div class="container mx-auto">
    <form method="post">
        {% csrf_token %}
        {{ sing_up_form.as_p }}
        <button type="submit" value="Зарегистрироваться" name="submit">Зарегистрироваться</button>
    </form>
</div>
</body>
</html>
