{% extends 'SlivaJob/base.html' %}

{% block title %}
    Ментору
{% endblock %}

{% block content %}
   <h1><strong>{{ test.name }}</strong></h1>
    {% for question, variants in questions%}
        <div>
        <h2><strong>{{ question.question }}</strong></h2>
        {% for variant in variants %}
            <input type="radio" id="{{ variant }}" name="{{ question.id}}" value="{{ variant }}">
            <label for="{{ variant }}">{{ variant }}</label>
        {% endfor %}
        </div>
    {% endfor %}
{% endblock %}