{% extends 'SlivaJob/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Заказщику
{% endblock %}

{% block content %}
    <p>Ваши заказы</p>
    <form method="post" class="max-w-sm w-full mx-auto bg-white p-8 rounded-md shadow-md">
        {% csrf_token %}
        {{ filter_form.as_p }}
        <button type="submit" value="Apply" name="submit"
                class="w-full bg-indigo-500 text-white text-sm font-bold py-2 px-4 rounded-md hover:bg-indigo-600 transition duration-300">
            Применить
        </button>
    </form>
    {#Фильтр по активному заказу#}
    {% for order in orders %}
        {% if order.status == 0 %}
            {#Заказ активен#}
            <div>
                <p>{{ order.order_name }}</p>
                <p>{{ order.description }}</p>
                <p>{{ order.comment }}</p>
            </div>
        {% endif %}

        {% if order.status == 1 %}
            {#Заказ взят#}
            <div>
                <p>{{ order.order_name }}</p>
                <p>{{ order.description }}</p>
                <p>{{ order.comment }}</p>
            </div>
        {% endif %}

        {% if order.status == 2 %}
            {#Заказ зактыт#}
            <div>
                <p>{{ order.order_name }}</p>
                <p>{{ order.description }}</p>
                <p>{{ order.comment }}</p>
            </div>
        {% endif %}
    {% endfor %}

    <div class="button">
        <button>
            <a href="{% url 'create_order' %}"
               class="block py-2 l-3 pr-4 mr-3 text-gray-700 hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Создать
                заказ</a>
        </button>
    </div>
{% endblock %}